
/****************/
/* 共通         */
/****************/
{ color: skyblue; }

/* スクロールする場所：固定ナビゲーションの高さ＋余白をpadding-topに指定したりします。 */
#content {
  padding: 60px 0 0 0;
}

html,body {
    height: 100%;
}

/****************/
/* テーブル*/
/****************/
/* テーブル画面幅768以下は、横スクロース*/
.tbl-x-scroll-min768 {
    min-width: 768px !important; overflow-x:scroll;
}

/* テーブルの中身縦を中央に配置*/
/*
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
vertical-align: middle;
}
*/

.row {
    position:    relative;
}

.lbl-header-info,  {
    text-align: left;
    font-size:  18px;i
    position:   absolute;
    top:        50%;
    margin-top: 17px;
    
}

.fixed {
    position:    fixed;
    z-index:    1

}

.header-under-contents {
    position:   relative
}


/* */
/* icon */
/* */
.glyphicon {
    /*
    font-size:  19px;
    */ 
}


/****************/
/* navbar       */
/****************/
.navbar-brand {
  background: url("/IMG/sureshot_logo.gif") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}
.navbar .container .btn.btn-navbar {
        float: left !important;
}
.navbar-toggle {
    display: none;
}
.collapse {
    display: block;
    border-color:transparent;
}
/* navbar-leftの場合はここをleftに変える */
.navbar-right {
    float: right;
}
.navbar-header {
    float: left;
}
.navbar-nav {
    margin:0 -15px 0 0;
}
/* 固定するのは「position: fixed;」です。 */
#navi {
  height: 50px;
  position: fixed;
  z-index: 999;
}

/****************/
/* slide in menu */
/****************/
body .navbar-header {
    position: relative;
}
body .scrollable-menu {
    position: absolute;
    top:50px;
    left:0px;
}
body .cbp-spmenu-vertical {
    width:200px;
}
body .cbp-spmenu h3 {
    width:200px;
    font-size:1em;
}
body .cbp-spmenu a {
    width:200px;
    font-size:0.9em;
        background: #47a3da;
}
body .nav-tabs>li>a {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
    font-size:12px;
}
body .nav-tabs>li.active>a {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
    font-weight:bold;
    font-size:15px;
}
.scrollable-menu {
    height: auto;
    max-height: 100%;
    overflow-x: auto;
}
.dropdown {
}

/* サイドメニューの子メニュー*/
.scrollable-menu .dropdown {
    position:relative;
}
.scrollable-menu .dropdown ul {
    position:absolute;
    top:-25px;
    left:30px;
    background-color:   #47b3e1; 
}
/*
.scrollable-menu .dropdown ul a{
    z-index: 1
}
.scrollable-menu .dropdown.dropdown-menu {
    z-index:2
}
*/

/****************/
/*HALF SLIDER*/
/****************/
.carousel-inner img {
    margin:0 auto;
    display:block;
}


/****************/
/*背景画像フル*/
/****************/
body {
  padding-top: 70px;

  /* 画像ファイルの指定 */
  background-image: url(/IMG/bike-custom-unbreakable-motorcycle.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;

  z-index: -1;
}

.z-index-3 {
    z-index: 3;
}

.gray-trans-over {
  background-color: rgba(76,88,83,0.5);
}

.green-trans-over {
  background-color: rgba(10,157,23,0.2);
  border-style: none;
  color: silver;
}

.blue-trans-over {
  background-color: rgba(42,173,210,0.2);
  border-style: none;
  color: silver;
}


/****************/
/*Gutter*/
/****************/
.row-0{
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    padding:1px;
  }
.row-10{
    margin-left:-5px;
    margin-right:-5px;
    margin-bottom:10px;
 
    > div{
        padding-right:5px;
        padding-left:5px;
    }
}
.row-20{
    margin-left:-10px;
    margin-right:-10px;
 
    > div{
        padding-right:10px;
        padding-left:10px;
    }
}
.row-30{
    margin-left:-15px;
    margin-right:-15px;
 
    > div{
        padding-right:15px;
        padding-left:15px;
    }
}
.row-40{
    margin-left:-20px;
    margin-right:-20px;
 
    > div{
        padding-right:20px;
        padding-left:20px;
    }
}


/****************/
/*ふわっと*/
/****************/
/*初期の透明度 */
.opa0 {
    opacity:0;
}
/*フェイド・インタイム*/
.fade-in {
  transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
}

/* Table
————————————————– */
.table-responsive > table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}
@media (max-width: 767px) {
    .table-responsive > table {
        table-layout: auto;
    }
}

/* 基本フォント
————————————————– */
.b-font {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
}

/* 線引
————————————————– */
.border15 {
    border-bottom: 1.5px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,1);
    margin-bottom:10px;
}
.border10 {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    margin-top:5px;
    margin-bottom:5px;
}


/* 高さ
————————————————– */
.hgt29 {
    height:29px;
    text-align:center;
    line-height:29px;
}

/* font-size
————————————————– */
.font-size-8 {
    font-size:8px;
}
.font-size-10 {
    font-size:10px;
}

/* input box
————————————————– */
.width-80pct {
    width:80%;
}

/* コンテナの大きさ
————————————————– */
@media only screen and (min-width : 992px) {
    /* デスクトップ表示ではホバー操作でドロップダウンを表示 */
    .ddl:hover .dropdown-menu {
        display: block;
    }
}
@media (min-width: 768px) {
    .container-small {
        width: 300px;
    }
    .container-large {
        width: 970px;
    }
}
@media (min-width: 992px) {
    .container-small {
        width: 500px;
    }
    .container-large {
        width: 1170px;
    }
}
@media (min-width: 1200px) {
    .container-small {
        width: 700px;
    }
    .container-large {
        width: 1500px;
    }
}
.container-small, .container-large {
    max-width: 100%;
}


/* inputの大きさ
————————————————– */
/* col-xs */
@media screen and (max-width: 767px) {
   .input-text {
        width:100px;
        font-size:10px;
    }
   .input-qty {
        text-align:center;
        width:30px;
        font-size:8px;
        padding-right:5px;
        padding-left:5px;
    }
   .button-qty {
        text-align:center;
        width:15px;
        font-size8px;
    }
}
/* col-sm */
@media screen and (min-width: 768px) and (max-width: 991px) {
   .input-text {
        width:100px;
        font-size:10px;
    }
   .input-qty {
        text-align:center;
        width:30px;
        font-size:8px;
        padding-right:5px;
        padding-left:5px;
    }
   .button-qty {
        text-align:center;
        width:15px;
        font-size:8px;
    }
}
/* col-md */
@media screen and (min-width: 992px) {
   .input-text {
        width:120px;
        font-size:12px;
    }
   .input-qty {
        text-align:center;
        width:30px;
        font-size:10px;
    }
   .button-qty {
        text-align:center;
        width:20px;
        font-size:10px;
    }
    
    /* デスクトップ表示ではホバー操作でドロップダウンを表示 */
    .dropdown:hover > .dropdown-menu{
      display: block;
      text-align: center;
   }
}
/* col-lg
@media screen and (min-width: 1119px) {
    input[type="text"] {
        width:100%;
    }
}
*/






/* end
————————————————– */
