
/****************/
/* 共通         */
/****************/
{ color: skyblue; }

/* スクロールする場所：固定ナビゲーションの高さ＋余白をpadding-topに指定したりします。 */
#content {
  padding: 60px 0 0 0;
}

html,body {
    height: 100%;
}
.container {
    /*margin-bottom:  15px;*/
}
.row {
    position:    relative;
}

.lbl-header-info,  {
    text-align: left;
    font-size:  18px;i
    position:   absolute;
    top:        50%;
    margin-top: 17px;
    
}

.fixed {
    position:    fixed;
    z-index:    1

}

.header-under-contents {
    position:   relative
}


/* */
/* icon */
/* */
.glyphicon {
    /*
    font-size:  19px;
    */ 
}

.scrollable-menu .glyphicon {
    font-size:  15px;
}

/****************/
/* navbar       */
/****************/
.navbar-brand {
  background: url("/IMG/sureshot_logo.gif") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}
.navbar .container .btn.btn-navbar {
        float: left !important;
}
.navbar-toggle {
    display: none;
}
.collapse {
    display: block;
    border-color:transparent;
}
/* navbar-leftの場合はここをleftに変える */
.navbar-right {
    float: right;
}
.navbar-header {
    float: left;
}
.navbar-nav {
    margin:0 -15px 0 0;
}
/* 固定するのは「position: fixed;」です。 */
#navi {
  height: 50px;
  position: fixed;
  z-index: 999;
}

/****************/
/* slide in menu */
/****************/
.scrollable-menu {
                height: auto;
                max-height: 100%;
                /*max-height: 500px;*/
                overflow-x: hidden;
}
/* サイドメニューの子メニュー*/
.scrollable-menu .dropdown {
    position:   relative;
}
.scrollable-menu .dropdown ul {
    position:   absolute;
    top:    60%;
    left:   35%;
    background-color:   #47b3e1; 
}
/*
.scrollable-menu .dropdown ul a{
    z-index: 1
}
.scrollable-menu .dropdown.dropdown-menu {
    z-index:2
}
*/

/****************/
/*HALF SLIDER*/
/****************/
.carousel-inner img {
    margin:0 auto;
    display:block;
}


/****************/
/*背景画像フル*/
/****************/
body {
  padding-top: 70px;

  /* 画像ファイルの指定 */
  background-image: url(/IMG/bike-custom-unbreakable-motorcycle.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;

  z-index: -1;
}

.z-index-3 {
    z-index: 3;
}

.gray-trans-over {
  background-color: rgba(76,88,83,0.5);
}

.green-trans-over {
  background-color: rgba(10,157,23,0.2);
  border-style: none;
  color: silver;
}

.blue-trans-over {
  background-color: rgba(42,173,210,0.2);
  border-style: none;
  color: silver;
}



/****************/
/*Gutter*/
/****************/
.row-0{
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
 
    > div{
        padding-right:0px;
        padding-left:0px;
    }
}
.row-10{
    margin-left:-5px;
    margin-right:-5px;
    margin-bottom:10px;
 
    > div{
        padding-right:5px;
        padding-left:5px;
    }
}
.row-20{
    margin-left:-10px;
    margin-right:-10px;
 
    > div{
        padding-right:10px;
        padding-left:10px;
    }
}
.row-30{
    margin-left:-15px;
    margin-right:-15px;
 
    > div{
        padding-right:15px;
        padding-left:15px;
    }
}
.row-40{
    margin-left:-20px;
    margin-right:-20px;
 
    > div{
        padding-right:20px;
        padding-left:20px;
    }
}

